  <h1>Your Account information</h1>
	<form method="post">
	<table>
		<tr>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td>First Name</td>
			<td><input name="first_name" value="<%= @current_user.first_name %>" ></td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td><input name="last_name" value="<%= @current_user.last_name %>" ></td>
		</tr>
    <tr>
      <td>Super Power</td>
      <td><input name="power" disabled="true" value="<%= @current_user.power['description'] %>" ></td>
    <tr>
			<td>Email</td>
			<td><input name="email" disabled="true" value="<%= @current_user.email %>"></td>
		</tr>
		<tr>
			<td>Current Password</td>
			<td><input type="password" name="password"></td>
		</tr>
    <tr>
			<td colspan="2"><input type="submit" value="Update Profile"></td>
		</tr>
	</table>
  <div class="linkbutton">
  <a href="/write">Create a Post</a>
  </div>
  <!-- Link to users current posts, instead of writing current username in url -->
  <!-- <div class="linkbutton">
  <a href="= post.user_id ">My Current Posts</a>
  </div> -->
  <div class="linkbutton">
  		<a href="/<%= @current_user.id %>/destroy">Delete Account</a>
  </div>
  </form>
